.Charging {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(77,87,187);
    background: linear-gradient(297deg, rgba(77,87,187,1) 0%, rgba(99,124,189,1) 35%, rgba(167,236,236,1) 100%);
}